@import "variables";
@import "header";


/*Contenido*/

.centrar {
    text-align: center;
}

.estiloTitulo {
    @include alineado (center, center);
    display: flex;
    margin-top: 20px;

    h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 70px;
        color: map-get($estilos, colorTitulo)
    }
}

.estiloSub {
    display: flex;
    font-size: 250%;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: map-get($estilos, colorTitulo);
    margin: 20px 0px;
    text-decoration: underline rgb(250, 250, 121);
}

.estiloSub--maja {
    @extend .estiloSub;
    font-size: 120%;
}

.fotosIndex {
    width: map-get($estilos, tamanoFoto);
    border-radius: 10px;
    margin: 40px 60px;
}

.videoProfes {
    padding: 30px;
    width: 50%;
}

.parrafoIndex {
    width: 90%;
    font-size: map-get($estilos, tamanoParrafo);
    text-align: justify;
    line-height: 30px;
    color: rgb(185, 181, 181);
}

.textoIndex {
    @include flexbox (flex, column);
}

strong {
    color: rgb(234, 234, 186);

    &:hover {
        font-size: 120%;
    }
}

.carousel {
    display: flex;
    @include alineado (space-evenly, center);

    img {
        width: 100%;
    }
}

.galeria img {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.seleccionModelo {
    @include alineado (center, center);
    width: 100%;
    height: 250px;
    display: flex;
    line-height: 30px;
}

.seleccionColores {
    @include flexbox (flex, column);
    margin: 5px;

    div {
        margin-right: 5px;
    }

    input {
        margin-right: 5px;
    }
}

.desplegable {
    width: 100%;
}

.contacto {
    display: flex;
    justify-content: space-evenly;
    line-height: 30px;
    font-size: 100%;
    margin-bottom: 20px;
}

.formulario {
    @include flexbox (flex, column);
    margin: 10px;
    padding: 20px;
    background-color: rgba(163, 159, 148, 0.466);
}

.datosContacto {
    @include flexbox (flex, column);

    input {
        width: 80%;
        transition: all 1s;

        &:focus {
            width: 100%;
        }
    }
}

textarea {
    width: 80%;
    transition: all 2s;

    &:focus {
        width: 100%;
    }
}

.botones {
    @include flexbox (flex, row);
    @include alineado (space-around, center);

    input {
        width: 20%;

        &:hover {
            background: rgb(250, 250, 121);
            font-weight: bold;
        }
    }
}

.checkbox {
    display: flex;
    margin: 10px;

    input {
        font-size: 20%;
        width: 20%;
    }
}

.articuloTexto {
    display: flex;
    @include alineado (center, center);

    div {
        display: flex;
        @include alineado (center, flex-start);
    }
}

.articuloTexto--inferior {
    @extend .articuloTexto;

    div {
        align-items: flex-end;
    }
}

.footer {
    display: flex;
    color: black;
    background-color: whitesmoke;
    font-size: 90%;
    background-image: linear-gradient(to bottom, rgb(250, 240, 240), rgb(158, 150, 150));
}

.columnaFooter {
    @include flexbox (flex, column);
    align-items: center;
}

.columnaFooter--redes {
    @extend .columnaFooter;

    a {
        text-decoration: none;
        color: black;
        font-size: 200%;
        line-height: 5%;
        padding: 0px 10%;

        &:hover {
            color: rgb(72, 72, 204)
        }
    }
}

.linksRedes {
    @include flexbox (flex, row);
}

@import "mediaQuerys";